django==4.1.5

# Environment variables
django-environ==0.9.0

# Postgres
psycopg2-binary==2.9.5

pre-commit==2.21.0
pyupgrade==3.3.1
black==22.12.0
prospector[with_everything]==1.8.4

faker==16.4.0

# Images
pillow==9.4.0

# Tests
pytest==7.2.1
pytest-benchmark==4.0.0

# Forms
django-crispy-forms==1.14.0
crispy-bootstrap5==0.7.0
