django==4.1

# Environment variables
django-environ==0.9.0

# Postgres
psycopg2-binary==2.9.3

pre-commit==2.20.0
pyupgrade==2.37.3
black==22.6.0
prospector[with_everything]==1.7.7

faker==13.15.1

pytest==7.1.2
pytest-benchmark==3.4.1
