{% extends '_base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ contact_form.as_p }}
        {{ email_form.as_p }}
        {{ telegram_form.as_p }}
        {{ linkedin_form.as_p }}
        <button type="submit" class="btn btn-success">
            {% block label %}
                Create New Contact
            {% endblock %}
        </button>
    </form>
    <a href="{% url 'contacts:show_contacts' %}">
        <button class="btn btn-info">
            Show All Contacts
        </button>
    </a>
{% endblock %}