{% extends '_helpers/_base.html' %}

{% block title %}
    Contacts List
{% endblock %}

{% block content %}
    <a href="{% url 'contacts:create_contact' %}">
        <button class="btn btn-info" style="margin-left: 2rem">Contact Creation</button>
    </a>

    <ol class="list-group list-group-numbered">
        {% for contact in contacts %}
            <li class="list-group-item" style="background: azure">
                {% if contact.avatar %}
                    <img class="contact-avatar" src="{{ contact.avatar.url }}" alt="">
                {% endif %}
                <span style="display: inline-block">{{ contact.contact_name }}</span>
                <div class="btn-group" role="group">
                    <a href="{% url 'contacts:show_contact_info' pk=contact.pk %}" class="btn btn-outline-info">
                        Show Info
                    </a>
                    <a href="{% url 'contacts:update_contact' pk=contact.pk %}" class="btn btn-outline-primary">
                        Update Contact
                    </a>
                    <a href="{% url 'contacts:delete_contact' pk=contact.pk %}" class="btn btn-outline-danger">
                        Delete Contact
                    </a>
                </div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}