<nav>
    <div>
        <nav>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li>
                    <a href={% url "index" %}>Home</a>
                </li>
                <li>
                    <a href={% url "user_generator:index" %}>User Generator</a>
                </li>
                <li>
                    <a href={% url "caesar:index" %}>Caesar</a>
                </li>
                <li>
                    <a href={% url "session_storage:index" %}>Sessions</a>
                </li>
                <li>
                    <a href={% url "contacts:show_contacts" %}>Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        {% if user.is_authenticated %}
            <div class="username">Hi {{ user.username }}!</div>
            <div style="display: block"><a href="{% url 'logout' %}">Log Out</a></div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Log In</a>
                <span> or </span>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </div>
</nav>