.greetings-text {
    text-shadow: 0 1px 1px aqua;
}

p.greetings-text {
    color: green;
}

.contact-avatar {
    max-width: 3em;
}

.logo {
    width: 10em;
    max-width: 10em;
}

.dotted-hr {
    border-style: dotted;
}